body{
	background-color: rgb(205, 193, 190);
}
.container_big_div{
	margin: 90 90 20 90;
	//background-color: rgb(238, 164, 164);
	border-radius: 30px;
	//background-color: white;
}

.container_big_div h1{
	text-transform: uppercase;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	text-align: center;
	
}
.container_int{
	margin: 20px;
	padding: 30px;
	border: 20px rgb(237, 206, 206) solid;
	color: white;
	border-radius: 30px;
	background-color: rgb(238, 164, 164);
}

.categories{
	margin:  0 110px;
	border: 20px rgb(220, 225, 233) solid;
	background-color: rgb(252, 248, 250);
	color: rgb(247, 156, 156);
	border-radius: 30px;
}
.categories h1 {
	text-align: center;
	text-decoration: underline;
	font-style: italic;
}
.categories li{
	list-style: none;
	font-size: 18;
	font-family: fantasy ;
}
a{
	text-decoration: none;
	color: rgb(255, 0, 0);
}